body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color:rgb(55, 149, 204);
}

.ui.inverted.segment {
  background-color: #777;
}

.ui.vertical.segment:not(.inverted) {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.six.wide.column img {
  width: 100%;
}

.ui.borderless.inverted.menu {
  background-color: #2f2f2f;
  border-radius: 4px;
  flex-wrap: wrap;
}

.ui.borderless.inverted.menu .active.item {
  background-color: black;
}

span.sub {
  color: rgba(0, 0, 0, 0.6);
}

.ten.wide.column h1 {
  font-size: 3rem;
}

.ten.wide.column p {
  font-size: 1.5rem;
}

p code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ui.tablet.computer.only.padded.grid {
  position: absolute;
  z-index: 8;
  width: 100%;
  top: 1rem;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
  float: unset;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
  content: "\f0d7";
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  position: static;
  width: 100%;
  background-color: unset;
  border: none;
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item {
  background-color: rgb(47, 47, 47);
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  margin-top: 6px;
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu .header,
.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu .item {
  color: rgba(255, 255, 255, 0.9) !important;
}

.slide .ui.inverted.vertical.segment {
  padding-top: 16rem;
  padding-bottom: 4rem;
  height: 600px;
}

.slide .ui.text.container {
  max-width: 70%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-prev.slick-arrow {
  padding-left: 8rem;
  padding-right: calc(8rem + 20px);
  display: inline-block;
  height: 100%;
  z-index: 32;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.0001) 100%
  );
}

.slick-next.slick-arrow {
  padding-left: 8rem;
  padding-right: calc(8rem + 20px);
  display: inline-block;
  height: 100%;
  z-index: 32;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.0001) 100%
  );
}

@media only screen and (max-width: 767px) {
  .slick-prev.slick-arrow {
    padding-left: 4rem;
    padding-right: calc(4rem + 20px);
  }

  .slick-next.slick-arrow {
    padding-left: 4rem;
    padding-right: calc(4rem + 20px);
  }
}

.slick-dots {
  bottom: 15px;
}

.slide .ui.segment h1 {
  font-size: 3rem;
}

.slide .ui.segment p {
  font-size: 1.5rem;
}

.footer1{
  margin: 0 auto;
  margin-top:30%;
  background-color: rgb(34, 34, 34);
  color:white;
}

.k{

  height: 20%;
}


.u{
  margin-left: 35%;
  font-size: large;
}


#root{
  background-color:rgb(245, 245, 245);
}

.Slide{
  color:black;
}

.D{

  height: 40%;
margin-left:40%

}

.H{

  height: 40%;
margin-left:40%

}


.S{

  height: 40%;
margin-left:40%

}

.Se{
  font-size: x-large;
}

.S1{
  background-color: rgb(233, 231, 231);
}

.a{
  background-color: rgb(243, 243, 243);

}

.uplading{
 margin: 0% auto;
 height: 400px;
 text-align: center;
 width: 100%;
}
.submit{
width: 5.3%;
margin-left: 45%;
font-size: large;
}

.print{
  width: 5.3%;
  margin-left: 45%;

}

.about{
  background-color:rgb(223, 219, 219);
  font-style: oblique;

}

.mission{
  background-color:rgb(223, 219, 219);
  font-style: oblique;
 

}

.signup{

  margin-top:10%;
border-style: ;
border-color:black;
}
